@import "../../../Assets/style.scss";

.MODAL {
    &__container {
        top: 15%;
        width: 400px;
        left: calc(50% - 200px);
        position: fixed;
        background-color: $white;
        z-index: 999;
        color: $black;
        border-radius: $radius-sm;
        padding: $space-sm;
        box-shadow: $shadowelements;
        & button {
            float: right;
        }
    }
}
