// Basic style setup

/*Colors*/
/*-----------------------------------------------------------------------------*/
$black: #000000 !default;
$white: #ffffff !default;
$grey: #666666 !default;
$blue: #304cb3 !default;
$green: #50c389 !default;
$orange: #e3664a !default;
$red: #dd4242 !default;

$textmain1: #2b2b2e !default; // Main body on light, p and etc.
$textmain2: #dddddd !default; // Main body on dark, p and etc.
$textheadings1: #2b2b2e !default; // Headings on light, text
$textheadings2: #2b2b2e !default; // Headings on dark, text
$textheadings3: #ffffff !default; // Headings on dark, text
$textheadings4: #333333 !default; // Headings on light, text
$textplaceholders1: #dbddde !default; // Text for placeholders
$textnav1: #555555 !default; // Nav text
$textbuttons1: #ffffff !default; // Button text
$textbuttons2: #2b2b2e !default; // Button text
$textlinks1: #2b2b2e !default; // Links
$textlinks2: #2b2b2e !default; // Links

$bordermain1: #f0f0f0 !default; // Borders
$bordermain2: #4b4b4d !default; // Borders
$borderinputs: #dbddde !default; // Input borders
$borderinputsfocus: #999999 !default; // Input borders

$shadownav: 0 3px 10px 0 rgba($black, 0.06) !default; // Nav shadow
$shadowelements: 10px 10px 20px 0px rgba(0, 0, 0, 0.1) !default; // Elements shadow

/*Durations*/
/*-----------------------------------------------------------------------------*/
$duration-xs: 200ms !default;
$duration-sm: 400ms !default;
$duration-md: 600ms !default;
$duration-lg: 800ms !default;
$duration-xl: 1s !default;

/*Fonts*/
/*-----------------------------------------------------------------------------*/
$font-xxxxs: 8px !default;
$font-xxxs: 10px !default;
$font-xxs: 12px !default;
$font-xs: 14px !default;
$font-sm: 16px !default;
$font-md: 18px !default;
$font-lg: 24px !default;
$font-xl: 28px !default;
$font-xxl: 34px !default;
$font-xxxl: 38px !default;

/*Paddings & margins*/
/*-----------------------------------------------------------------------------*/
$space-xxl: 100px !default;
$space-xl: 80px !default;
$space-lg: 60px !default;
$space-md: 40px !default;
$space-sm: 20px !default;
$space-xs: 10px !default;
$space-xxs: 5px !default;

/*Breakpoints*/
/*-----------------------------------------------------------------------------*/
$xxl: 1920px !default;
$xl: 1440px !default;
$lg: 1280px !default;
$md: 1024px !default;
$sm: 768px !default;
$xs: 320px !default;

/*Grid*/
/*-----------------------------------------------------------------------------*/
$container-small: 768px !default;
$container: 1280px !default;
$container-fluid: 1640px !default;
$gutter-width: 20px !default;
$gutter-width-mob: 10px !default;

/*Other*/
/*-----------------------------------------------------------------------------*/
$radius-sm: 4px !default;
$radius-md: 20px !default;
$radius-lg: 50% !default;
